#formSearc{
    padding: 14px 50px;    
    border-bottom: 1px #b3b3b3 solid;
    background: #e9ecef;
}
.daterangepicker{
    box-shadow: 1px 1px 13px 0px #717171;
}

.SmallTextBox{
    text-align: center;
    width: 40px;
}
.TapFake{ 

    margin: 0px;
    padding: 0px;
    padding-top: 30px;
    border-bottom: 1px #ccc solid;
}
.TapFake ul{
    padding: 0px;
    margin: 0px;
}
.TapFake li{
    float: left;
    list-style: none;
}
.TapFake .liTap a{
    padding:10px 15px; 
    display: block;
    border-bottom: 0px;
    text-decoration: none;

}
.TapFake .liTap.active a{ 
    background: #fff;
    border: 1px #ccc solid;
    border-bottom: 0px;
    margin-bottom: -1px;

}
.TapFake .liTap a:hover{
    color: #000;
}
.clear{
    clear: both;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#porjectDetail{
    padding: 20px;
    background: #fff;
    border: 1px #ccc solid;
    border-top: 0px;
}
.Search-form{ 
}
.agentMageDispalu{
    padding:10px;
    border-bottom: 1px #ccc solid;
    margin-top: 20px;
}
.agentMageDispalu>div{
    float: left;
    padding-right: 40px;
}
.agentMageDispalu>div:last-child{
    float: none;  
    width: 100%;

}
.agentMageDispalu label{
    font-weight: bold;
}
#ListAgentForadd{
    padding: 20px;
    border: 1px #ccc solid;

}
#appdex{
    display: none;
}
#ListAgentForadd div#ListNmae{
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    border-bottom: 1px #ccc solid;
}
#ListAgentForadd label{
    cursor: pointer;
}
#openAgentName{
    color: #fff;
}
#agentCalc,#CustermerNumberF{
    display: none;
}
#agentCalc.show,#CustermerNumberF.show{
    display: block;
}

#AllertMage.active,#AllertMage2.active{    
    padding: 10px;
    padding-bottom: 0px;
    font-size: 13px;
    color: #b94a53; 
    position: relative;
}
nav.side-navbar li.active a {
    background: #292929;
}
.TimeSelectBox{
    width: 70px;
    padding: 5px;

}
.timeRate{
    margin-left: 20px;
    position: relative;
}
.timeRate span{
    font-size: 14px;
}
.timeerror,.ScoreRateERROR{ 
    color: #f14a4a;
    position: absolute;
    right: 0px; 
    padding: 5px;
    font-size: 0.8rem;
    width: 160px;
}
.ScoreRateERROR{
    width: 120px;
}
#MainPosion{
    background: #ffffff;
    padding: 0px;    
    border-top: 2px #33b35a solid;
}
#DetailPabel{    
  padding: 30px 50px;
  padding-left: 60px;
}